<i>توکن دریافتی ربات خود را از </i><a href="@BotFather">@BotFather</a><i> ارسال کنید.</i>

<i>اگر نمیدانید چگونه از بات فادر توکن بگیرید:</i>
<i>1-</i><code> ربات @BotFather را استارت کنید.</code>
<i>2-</i><code> دستور /newbot را به بات فادر ارسال کنید.</code>
<i>3-</i><code> یک نام برای ربات خودتان به بات فادر ارسال کنید.</code>
<i>4-</i><code>  یک یوزرنیم برای ربات خودتان به بات فادر ارسال کنید. توجه کنید که آخر یوزرنیم باید عبارت bot وجود داشته باشد و حتما از نوع لاتین/انگلیسی باشد.</code>
<i>5-</i><code> اگر تمام مراحل را درست انجام داده باشید، بات فادر متن طولانی ای به عنوان توکن برای شما ارسال میکند.</code>
<i>6-</i><code> آن متن طولانی که توکن نامیده میشود را به پی وی رسان (همین ربات) فروارد کنید تا ربات شما ساخته شود.</code>
